@{
    ViewData["Title"] = "Öğr Edit";
}
@model Ogrenci
<h2>Öğrenci Güncelleme</h2>
<hr>

<div class="row">

    <div class="col-8">
        <form asp-controller="Ogrenci" asp-action="Edit" method="post">
            <input type="hidden" asp-for="OgrenciId">
            <div class="mb-3">
                <label asp-for="OgrenciAd" class="form-label">Öğrenci Adı</label>
                <input type="text" class="form-control" asp-for="OgrenciAd">
            </div>
            <div class="mb-3">
                <label asp-for="OgrenciSoyad" class="form-label">Öğrenci Soyadı</label>
                <input type="text" class="form-control" asp-for="OgrenciSoyad">
            </div>
            <div class="mb-3">
                <label asp-for="Eposta" class="form-label">Öğrenci Eposta</label>
                <input type="text" class="form-control" asp-for="Eposta">
            </div>
            <div class="mb-3">
                <label asp-for="Telefon" class="form-label">Öğrenci Telefon</label>
                <input type="text" class="form-control" asp-for="Telefon">
            </div>
            <button type="submit" class="btn btn-secondary">Kaydet</button>
        </form>
    </div>
    
    <div class="col-4">
       <h4>Kurslar</h4>
       <ul>
         @foreach(var item in Model.KursKayitlari){
            <li>@Html.DisplayFor(modelitem=>item.Kurs.KursBaslik)</li>
         }
       </ul>
    </div>

</div>
