@{
    ViewData["Title"]="Öğretmen Kayit";
}
@model Ogretmen
<h2>Öğretmen Ekle</h2>
<hr>
<form asp-controller="Ogretmen" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Ad" class="form-label">Öğretmen Adı</label>
        <input class="form-control" asp-for="Ad">
    </div>
    <div class="mb-3">
        <label asp-for="Soyad" class="form-label">Öğretmen Soyadı</label>
        <input class="form-control" asp-for="Soyad">
    </div>
    <div class="mb-3">
        <label asp-for="Eposta" class="form-label">Öğretmen Eposta</label>
        <input class="form-control" asp-for="Eposta">
    </div>
    <div class="mb-3">
        <label asp-for="Telefon" class="form-label">Öğretmen Telefon</label>
        <input class="form-control" asp-for="Telefon">
    </div>
    <div class="mb-3">
        <label asp-for="BaslamaTarihi" class="form-label">Öğretmen Başlama Tarihi</label>
        <input class="form-control" asp-for="BaslamaTarihi">
    </div>
    <button type="submit" class="btn btn-secondary">Kaydet</button>
</form> 
